/*Page Style @1-E8B7DF6A*/
#Search_Sitess_SiteName_choices {
    position: absolute;
}
#Search_Sitess_SiteName_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#Search_Sitess_SiteName_choices ul li.selected { background-color: #aaa;}
#Search_Sitess_SiteName_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

