/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorFusionHO {
	background-color: #cfe6d3;
	}

.FormTitleBgColorFusionHO {
	background-color: #3d84cc;
	}

.FormTitleFontColorFusionHO {
	color: #ffffff;
	}

.CaptionBgColorFusionHO {
	background-color: #bfedbb;
	}

.CaptionFontColorFusionHO {
	color: #000000;
	}

.DataBgColorFusionHO {
	background-color: #f7f8fa;
	}

.AltDataBgColorFusionHO {
	background-color: #e6eff7;
	}

.DataFontColorFusionHO {
	color: #000000;
	}

.LinkColorFusionHO {
	color: #0033cc;
	}

.VisitedLinkColorFusionHO {
	color: #840000;
	}

.HoverLinkColorFusionHO {
	color: #ff0000;
	}

.ColorBgButtonFusionHO {
	background-color: #3d84cc;
}

.ColorFontButtonFusionHO {
	color: #ffffff;
}

.ColorBgButtonPassiveFusionHO {
	background-color: #93c9ff;
}

.ColorFontButtonPassiveFusionHO {
	color: #ffffff;
}



.HeaderFusionHO {
	width: 100%;
	}

.HeaderFusionHO th { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: center !important;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}


html>body .HeaderFusionHO th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: center !important;
}


/*ie6*/
* html body .HeaderFusionHO th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: center !important;
}
/*end*/

.HeaderFusionHO a:link { 
	color: #ffffff;
	}

.HeaderFusionHO a:visited { 
	color: #ffffff;
	}

.HeaderFusionHO a:hover, .CaptionFusionHO a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftFusionHO { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightFusionHO { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftFusionHO img{
	width: 9px;
	}

.HeaderRightFusionHO img{
	width: 9px;
	}


/* Grid Options */
.GridFusionHO { 
	border-left: 1px solid #3d84cc; border-bottom: 1px solid #3d84cc;
	width: 100%;
	}

.CaptionFusionHO th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb; color: #000000;
	white-space: nowrap;
	}

.CaptionFusionHO td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb; color: #000000;
	white-space: nowrap;
	}


html>body .CaptionFusionHO th, html>body .CaptionFusionHO td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionFusionHO th, * html body .CaptionFusionHO td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionFusionHO a:link { 
	color: #000000;
	}

.CaptionFusionHO a:visited { 
	color: #000000;
	}

.CaptionFusionHO a:hover, .CaptionFusionHO a:active { 
	color: #ff0000;
	}

.CaptionFusionHO img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionFusionHO input {
	vertical-align: middle;
	}

.RowFusionHO th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowFusionHO td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}
	

html>body .RowFusionHO th, html>body .RowFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .RowFusionHO th, * html body .RowFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowFusionHO { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 1px solid #3d84cc; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}


html>body caption.RowFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body caption.RowFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowFusionHO a:link { 
	color: #0033cc;
	}

.RowFusionHO a:visited { 
	color: #840000;
	}

.RowFusionHO a:hover, .RowFusionHO a:active { 
	color: #ff0000;
	}

.SeparatorFusionHO{
	color: #3d84cc;
	}

.SeparatorFusionHO td{
	height: 1px;
	}


.AltRowFusionHO th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowFusionHO td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	background-color: #e6eff7; 
	color: #000000;
	}


html>body .AltRowFusionHO th, html>body .AltRowFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .AltRowFusionHO th, * html body .AltRowFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowFusionHO a:link { 
	color: #0033cc;
	}

.AltRowFusionHO a:visited { 
	color: #840000;
	}

.AltRowFusionHO a:hover, .AltRowFusionHO a:active { 
	color: #ff0000;
	}

.NoRecordsFusionHO td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	background-color: #f7f8fa; 
	color: #000000;
	vertical-align: top;
	}

.FooterFusionHO td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .NoRecordsFusionHO td, html>body .FooterFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .NoRecordsFusionHO td, * html body .FooterFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterFusionHO a:link { 
	color: #0033cc;
	}

.FooterFusionHO a:visited { 
	color: #840000;
	}

.FooterFusionHO a:hover, .FooterFusionHO a:active { 
	color: #ff0000;
	}

.FooterFusionHO img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterFusionHO input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordFusionHO { 
	border-left: 1px solid #3d84cc; border-bottom: 1px solid #3d84cc;
	width: 100%;
	}

.ErrorFusionHO td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f8fa; 
	}


* html>body .ErrorFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ErrorFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsFusionHO th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsFusionHO td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}
	
.BottomFusionHO td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .ControlsFusionHO th, html>body .ControlsFusionHO td, html>body .BottomFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ControlsFusionHO th, * html body .ControlsFusionHO td, * html body .BottomFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomFusionHO a:link { 
	color: #0033cc;
	}

.BottomFusionHO a:visited { 
	color: #840000;
	}

.BottomFusionHO a:hover, .CaptionFusionHO a:active { 
	color: #ff0000;
	}

.BottomFusionHO img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomFusionHO input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionFusionHO th{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	}

.GroupCaptionFusionHO td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f8fa; 
	color: #000000;
	}


html>body .GroupCaptionFusionHO th, html>body .GroupCaptionFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupCaptionFusionHO th, * html body .GroupCaptionFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionFusionHO a:link {
	color: #000000;
	}

.GroupCaptionFusionHO a:visited{
	color: #000000;
	}

.GroupCaptionFusionHO a:hover, .GroupCaptionFusionHO a:active{
	color: #ff0000;
	}

.GroupFooterFusionHO td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #bfedbb; 
	color: #000000;
	}


html>body .GroupFooterFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupFooterFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterFusionHO a:link {
	color: #0033cc;
	}

.GroupFooterFusionHO a:visited{
	color: #840000;
	}

.GroupFooterFusionHO a:hover, .GroupFooterFusionHO a:active{
	color: #ff0000;
	}

.GroupFooterFusionHO img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterFusionHO input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalFusionHO td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	border-bottom: 2px solid #3d84cc;
	}


html>body .SubTotalFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .SubTotalFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalFusionHO a:link {
	color: #0033cc;
	}

.SubTotalFusionHO a:visited{
	color: #840000;
	}

.SubTotalFusionHO a:hover, .SubTotalFusionHO a:active{
	color: #ff0000;
	}

.TotalFusionHO td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	}


html>body .TotalFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .TotalFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalFusionHO a:link {
	color: #0033cc;
	}

.TotalFusionHO a:visited{
	color: #840000;
	}

.TotalFusionHO a:hover, .TotalFusionHO a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonFusionHO { 
	background-color: #3d84cc; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 11px; font-weight: bold;
	}

/* Calendar */

.CalendarFusionHO { 
	border: 1px solid #3d84cc;
	width: 100%;
	}

.CalendarWeekdayNameFusionHO{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e6eff7; 
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekdayNameFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekdayNameFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameFusionHO a:link {
	color: #0033cc;
	}

.CalendarWeekdayNameFusionHO a:visited{
	color: #840000;
	}

.CalendarWeekdayNameFusionHO a:hover, .CalendarWeekdayNameFusionHO a:active{
	color: #ff0000;
	}

.CalendarWeekendNameFusionHO{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e6eff7;	
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekendNameFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendNameFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNameFusionHO a:link {
	color: #000000;
	}

.CalendarWeekendNameFusionHO a:visited{
	color: #000000;
	}

.CalendarWeekendNameFusionHO a:link, .CalendarWeekendNameFusionHO a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDayFusionHO{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #000000;
	}


html>body .CalendarDayFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarDayFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayFusionHO a:link {
	color: #0033cc;
	}

.CalendarDayFusionHO a:visited{
	color: #840000;
	}

.CalendarDayFusionHO a:hover, .CalendarDayFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendFusionHO{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #e6eff7;	
	color: #000000;
	}


html>body .CalendarWeekendFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendFusionHO a:link {
	color: #0033cc;
	}

.CalendarWeekendFusionHO a:visited{
	color: #840000;
	}

.CalendarWeekendFusionHO a:hover, .CalendarWeekendFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodayFusionHO {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #000000;
	}


html>body .CalendarTodayFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarTodayFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayFusionHO a:link {
	color: #0033cc;
	}

.CalendarTodayFusionHO a:visited{
	color: #840000;
	}

.CalendarTodayFusionHO a:hover, .CalendarTodayFusionHO a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayFusionHO {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	background-color: #e6eff7;	
	color: #000000;
	}


html>body .CalendarWeekendTodayFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendTodayFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayFusionHO a:link {
	color: #0033cc;
	}

.CalendarWeekendTodayFusionHO a:visited{
	color: #840000;
	}

.CalendarWeekendTodayFusionHO a:hover, .CalendarWeekendTodayFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayFusionHO{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #3d84cc;
	}


html>body .CalendarOtherMonthDayFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthDayFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayFusionHO a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthDayFusionHO a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthDayFusionHO a:hover, .CalendarOtherMonthDayFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayFusionHO {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #3d84cc;
	}


html>body .CalendarOtherMonthTodayFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthTodayFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayFusionHO a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthTodayFusionHO a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthTodayFusionHO a:hover, .CalendarOtherMonthTodayFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendFusionHO {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #e6eff7;	
	color: #3d84cc;
	}


html>body .CalendarOtherMonthWeekendFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendFusionHO a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendFusionHO a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendFusionHO a:hover, .CalendarOtherMonthWeekendFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayFusionHO {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	color: #3d84cc;
	background-color: #e6eff7;	
	}
	

html>body .CalendarOtherMonthWeekendTodayFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayFusionHO a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodayFusionHO a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodayFusionHO a:hover, .CalendarOtherMonthWeekendTodayFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayFusionHO{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDayFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarSelectedDayFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayFusionHO a:link {
	color: #000000;
	}

.CalendarSelectedDayFusionHO a:visited{
	color: #000000;
	}

.CalendarSelectedDayFusionHO a:hover, .CalendarSelectedDayFusionHO a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorFusionHO {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	background-color: #f7f8fa; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .CalendarNavigatorFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorFusionHO a:link {
	color: #0033cc;
	}

.CalendarNavigatorFusionHO a:visited{
	color: #840000;
	}

.CalendarNavigatorFusionHO a:hover, .CalendarNavigatorFusionHO a:active{
	color: #ff0000;
	}

.CalendarNavigatorFusionHO img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorFusionHO td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorFusionHO th {
	font-family: Arial; font-size: 80%;
	}


html>body .CalendarNavigatorFusionHO th, html>body .CalendarNavigatorFusionHO td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorFusionHO th, * html body .CalendarNavigatorFusionHO td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventFusionHO{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}


html>body .CalendarEventFusionHO {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarEventFusionHO {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventFusionHO a:link {
	color: #0033cc;
	}

.CalendarEventFusionHO a:visited{
	color: #840000;
	}

.CalendarEventFusionHO a:hover, .CalendarEventFusionHO a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thFusionHO { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}


html>body .thFusionHO {
	font-size: 100%;
}


/*ie6*/
* html body .thFusionHO {
	font-size: 100%;
}
/*end*/

.HeaderFusionHO .thFusionHO { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: center !important;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
}


html>body .HeaderFusionHO .thFusionHO {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: center !important;
}


/*ie6*/
* html body .HeaderFusionHO .thFusionHO {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: center !important;
}
/*end*/

.CaptionFusionHO .thFusionHO { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb; color: #000000;
	white-space: nowrap;
}


html>body .CaptionFusionHO .thFusionHO {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionFusionHO .thFusionHO {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowFusionHO .thFusionHO { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowFusionHO .thFusionHO { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsFusionHO .thFusionHO { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionFusionHO .thFusionHO {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
}


html>body .GroupCaptionFusionHO .thFusionHO {
	font-family: Arial; font-size: 100%;
}

html>body .RowFusionHO .thFusionHO, html>body .AltRowFusionHO .thFusionHO, html>body .ControlsFusionHO .thFusionHO {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaptionFusionHO .thFusionHO {
	font-family: Arial; font-size: 100%;
}

* html body .RowFusionHO .thFusionHO, * html body .AltRowFusionHO .thFusionHO, * html body .ControlsFusionHO .thFusionHO {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuFusionHO td {
	font-family: Arial; font-size: 80%;
}


html>body .simpleMenuFusionHO td {
	font-family: Arial; font-size: 100%;
} 


/*ie6*/
* html body .simpleMenuFusionHO td {
	font-family: Arial; font-size: 100%;
} 
/*end*/
